.sb-body {
            z-index: 1;
        }

        .site-wrapper {
            position: relative;
            z-index: -1;
        }

        .body {
            display: flex; /* Используем flexbox для body */
            flex-direction: column;
            justify-content: center; /* Центрируем содержимое по горизонтали */
            align-items: center; /* Центрируем содержимое по вертикали */
            height: 100vh; /* Высота body равна высоте окна */
            margin: 0; /* Убираем отступы */
            color: #f6f7f8; /* Цвет текста */
        }
  
        .background {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #f6f7f8;
            z-index: 0; /* Низкий уровень наложения */
        }

        .window {
            box-sizing: border-box; /* Учитываем отступы и границы в ширине и высоте */
            position: relative; /* Относительное позиционирование */
            max-width: 100vw; /* Максимальная ширина 100% от ширины окна */
            max-height: 100vh;
            top: 70px;
            width: 100%; /* Ширина 100% */
            height: 100%;
            background-color: #f6f7f8;
            display: flex; /* Используем flexbox для расположения элементов внутри окна */
            justify-content: center; /* Центрируем содержимое по горизонтали */
            align-items: flex-start; /* Выравниваем содержимое по верхнему краю */
            z-index: 999; /* Устанавливаем высокий уровень наложения */
            margin: auto; /* Центрируем окно по горизонтали */
        }

        .window-container {
            display: flex;
            flex-direction: row; /* Горизонтальное расположение дочерних элементов */
            width: 100%; /* Ширина 100% */
            justify-content: center;
            flex-grow: 1; /* Позволяет контейнеру занимать оставшееся пространство */
        }

        .window-input-container {
            width: 384px;
            margin-right: 24px;
        }

        .window-input-container > * {
            width: 384px;
        }

        .input-container {
            display: flex;
            align-items: center;
            margin-top: 40px;
            position: absolute;
            max-width: 900px;
            width: 100%
        }

        #product-name {
            font-weight: bold;
            border: none;
            font-size: 17px;
            padding: 5px 8px;
            min-width: 100%;
            max-width: 100%;
            display: inline-block;
            width: auto;
            transition: width 0.2s ease;
            outline: none;
            white-space: nowrap;
            background-color: #f6f7f8;
        }

        #product-name::placeholder {
            color: black;
        }

        #productForm {
            display: flex;
            align-items: center;
            width: 100%;
        }

        .icon {
            width: 20px;
            height: 20px;
            cursor: pointer;
            transition: transform 0.2s;
            margin-left: 5px;
        }

        .hidden {
            display: none;
        }

        .about-product {
            position: absolute;
            height: auto;
            width: 376px;
            background-color: #fff;
            border-radius: 6px;
            margin-top: 80px;
            padding: 20px;
        }

        .about-product h2 {
            font-size: 17px;
            position: relative;
            padding-bottom: 20px;
        }

        .about-product .product {
            font-weight: bold;
        }

        .price {
            margin-top: 5px;
            font-weight: bold;
        }

        .line {
            width: 95%;
            height: 2px;
            background-color: #ebeff3;
            margin: 20px 0;
        }

        .main-price {
            font-weight: normal;
            font-size: 17px;
            color: #333;
            display: inline-block;
        }

        .main-price-container {
            display: flex;
            align-items: center;
        }

        .price-input,
        .old-price-input {
            flex: 1;
            font-size: 17px;
            font-weight: normal;
            padding: 5px 10px;
            max-width: 180px;
            min-width: 50px;
            margin-right: 5px;
            box-sizing: border-box;
            transition: width 0.2s;
            border: none;
            outline: none;
        }

        .price-input::-webkit-inner-spin-button,
        .price-input::-webkit-outer-spin-button,
        .old-price-input::-webkit-inner-spin-button,
        .old-price-input::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .price-wrapper {
            display: flex;
            align-items: center;
            margin-left: 40px;
            margin-right: 20px;
        }

        .old-price-wrapper {
            display: flex;
            align-items: center;
            margin-left: 60px;
            margin-right: 20px;
        }

        .currency-symbol {
            font-size: 17px;
            color: #333;
        }

        .description {
            font-weight: bold;
        }

        .full-input,
        .brief-input {
            border: none;
            min-height: 60px; /* Мини мальная высота для удобства ввода */
            padding: 10px; /* Отступ для текста */
            outline: none; /* Убираем обводку */
            width: 100%; /* Ширина 100% */
            box-sizing: border-box; /* Учитываем отступы и границы в ширине */
            resize: none; /* Отключаем возможность изменения размера */
        }
  
        .brief-input::-webkit-scrollbar {
            width: 6px;
        }
        .brief-input::-webkit-scrollbar-track {
            background: transparent;
            border-radius: 8px;
        }
        .brief-input::-webkit-scrollbar-thumb {
            background: #cecfd0; /* Цвет ползунка */
            border-radius: 8px; /* Закругленные углы */
        }
        .brief-input::-webkit-scrollbar-thumb:hover {
            background: #c7c8c8; /* Цвет ползунка при наведении */
        }
  
          /* Стили для скроллбара в textarea */
        .full-input::-webkit-scrollbar {
            width: 6px; /* Ширина скроллбара */
        }
        .full-input::-webkit-scrollbar-track {
            background: transparent; /* Прозрачный фон трека */
            border-radius: 8px; /* Закругленные углы */
        }
        .full-input::-webkit-scrollbar-thumb {
            background: #cecfd0; /* Цвет ползунка */
            border-radius: 8px; /* Закругленные углы */
        }
        .full-input::-webkit-scrollbar-thumb:hover {
            background: #c7c8c8; /* Цвет ползунка при наведении */
        }

        .placeholder {
            position: absolute;
            left: 10px; /* Отступ от левого края */
            top: 10px; /* Отступ от верхнего края */
            pointer-events: none; /* Игнорируем события мыши */
            transition: 0.2s; /* Плавный переход */
        }

        .full-input:focus + .placeholder,
        .brief-input:focus + .placeholder,
        .full-input:not(:empty) + .placeholder,
        .brief-input:not(:empty) + .placeholder {
            display: none; /* Скрываем текст, если поле не пустое или в фокусе */
        }

        .article-container {
            display: flex;
            flex-direction: column;
        }

        .article {
            font-size: 17px;
            font-weight: bold;
            color: #000;
        }

        #article-name {
            padding: 10px;
            font-size: 17px;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            border: none;
        }

        .unit-of-measurement {
            font-size: 17px;
            font-weight: bold;
            color: #000;
        }

        .dropdown {
            display: none;
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-top: 5px;
            z-index: 1000;
            width: 416px;
            max-height: 150px;
            overflow-y: auto;
            right: 0px;
        }

        .dropdown-item {
            padding: 10px;
            cursor: pointer;
        }

        .dropdown-item:hover {
            background-color: #f2f4f7;
        }

        .unit-of-measurement-button {
            margin-top: 10px;
            padding: 8px 12px;
            background-color: #f2f4f7;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
        }

        .unit-of-measurement-button:hover {
            background-color: #f2f4f7;
        }

        .unit-of-measurement-remove {
            font-size: 20px;
            font-weight: bold;
            position: absolute;
            right: 10px;
            cursor: pointer;
            display: none;
        }

        .right-window-container {
            float: left;
            width: 768px; /* Фиксированная ширина */
            margin: 80px 0px 0px 24px;
            display: flex; /* Используем flex для управления дочерними элементами */
            flex-direction: column; /* Вертикальное расположение дочерних элементов */
        }

        .right-window {
            width: 728px; /* Фиксированная ширина */
            height: auto;
            background-color: #fff;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        /* Медиа-запрос для изменения стилей при ширине экрана 1350px и меньше */
        @media (max-width: 1350px) {
            .right-window-container {
                align-items: center;
                width: 100%; /* Занимает всю ширину контейнера */
            }

            .right-window {
                width: 100%; /* Занимает всю ширину контейнера */
                height: auto; /* Высота автоматически подстраивается под содержимое */
            }

            .window {
                padding: 0;
            }
        }

        .photo {
            font-size: 17px;
            font-weight: bold;
            color: #000;
        }

        .upload-area {
            border: 2px dashed #ccc;
            border-radius: 6px;
            padding: 20px;
            text-align: center;
            margin: 20px 0;
            display: flex; /* Используем flexbox */
            flex-direction: row; /* Горизонтальное расположение */
            align-items: center; /* Выравнивание по центру по вертикали */
            justify-content: center; /* Центрирование по горизонтали */
            cursor: pointer;
            transition: background-color 0.3s, border-color 0.3s;
        }

        .upload-area:hover {
            background-color: #f2f4f7;
            border-color: #00f;
        }

        .upload-button {
            background-color: transparent; /* Прозрачный фон */
            border: none; /* Без границы */
            color: blue; /* Синий цвет текста */
            font-size: 16px; /* Размер шрифта */
            cursor: pointer; /* Указатель при наведении */
            margin-right: 10px; /* Отступ справа */
        }

        .drag-file-text {
            color: black; /* Черный цвет текста */
            font-size: 16px; /* Размер шрифта */
        }

    #fileInputButton {
        background-color: transparent;
        padding: 10px;
        cursor: pointer;
        color: blue;
        font-size: 16px;
        border: none;
    }

    .product-categories-container {
        border-radius: 6px;
        padding: 20px;
        margin-top: 20px;
        background-color: #fff;
    }

    .product-categories {
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .categories-input[type="text"] {
        background-color: #f6f7f8;
        padding: 10px;
        border-radius: 6px;
        width: auto;
        height: 60px;
    }

    .categories-container {
        display: flex;
        flex-wrap: wrap;
    }

    .category-button {
        background-color: #f2f4f7;
        border-radius: 4px;
        padding: 5px 10px;
        margin: 5px;
        display: inline-flex;
        align-items: center;
    }

    .remove-category {
        margin-left: 5px;
        cursor: pointer;
        color: #737676;
    }

    .input-field {
        border-radius: 4px;
        padding: 5px;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .categories-input {
        border: none;
        outline: none;
        flex: 1;
        padding: 5px;
    }

    .categories-input-container {
        position: relative;
    }

    .back-button {
        position: absolute;
        top: -50px;
        left: 10px;
        border: none;
        background-color: transparent;
        font-size: 12px;
        width: 80px;
        cursor: pointer;
    }

    .icon-back {
        width: 12px;
        height: 12px;
        margin-right: 5px;
    }

    .product-options-container {
        border-radius: 6px;
        background-color: #fff;
    }

    .product-options {
        font-size: 17px;
        font-weight: bold;
        color: #000;
    }

    .text_t {
        padding: 10px 0px 10px 0px;
        color: #82868a;
    }

    .product-options-add-button {
        width: 100px;
        height: 44px;
        font-size: 15px;
        background-color: #f2f4f7;
        border-radius: 6px;
        color: #004df6;
        cursor: pointer;
        border: none;
    }

    .product-options-add-button:hover {
        background-color: #ebeff3;
    }

    .option-container {
        display: flex;
    }

    .option-container input[type="text"]:first-child {
        width: 258px;
        height: 44px;
        padding: 0px 10px 0px 10px;
        margin: 0px 10px 10px 0px;
        border-radius: 6px;
        background-color: #f2f4f7;
    }

    .option-container input[type="text"]:nth-child(2) {
        flex: 1;
        height: 44px;
        padding: 0px 10px 0px 10px;
        margin: 0px 0px 10px 0px;
        border-radius: 6px;
        background-color: #f2f4f7;
    }

    .remove-option-button {
        background-color: transparent;
        border: none;
        padding: 10px;
        cursor: pointer;
    }

    .remove-option-button img {
        width: 20px; 
        height: 20px; 
        margin-bottom: 7px; 
    } 

    .limit-reached { 
        color: red; 
        font-size: 12px; 
        margin-top: 5px; 
    } 

    .large-yellow-button { 
        background-color: #FFD700; /* Желтый цвет */ 
        color: #000; /* Черный текст */ 
        border: none; /* Без границы */ 
        border-radius: 6px; /* Закругленные углы */ 
        padding: 15px 30px; /* Отступы */ 
        font-size: 18px; /* Размер шрифта */ 
        cursor: pointer; /* Курсор при наведении */ 
        width: 100%; /* Ширина 100% */ 
        transition: background-color 0.3s; /* Плавный переход цвета */ 
    } 

    #unitInput { 
        border: none; 
    } 

    .pressed { 
        transform: translateY(2px); /* Сдвиг вниз */ 
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Тень */ 
    } 

    .image-container {
    position: relative; /* Для позиционирования иконки удаления */
    display: inline-block; /* Чтобы контейнер занимал только необходимое пространство */
    overflow: hidden; /* Скрываем все, что выходит за пределы контейнера */
}

.image-container:hover {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5); /* Затемняющий фон при наведении */
}

.preview-image {
    border-radius: 4px;
    width: 100px; /* Установите ширину изображения */
    height: auto; /* Автоматическая высота */
    display: block; /* Убираем пробелы под изображением */
}

.delete-icon {
    position: absolute; /* Позиционируем иконку относительно контейнера */
    top: 50%; /* Сдвигаем вниз на 50% высоты контейнера */
    left: 50%; /* Сдвигаем вправо на 50% ширины контейнера */
    transform: translate(-50%, -50%); /* Центрируем иконку */
    width: 40px; /* Ширина иконки */
    height: auto; /* Высота иконки */
    cursor: pointer; /* Указатель при наведении */
    display: none;
}

.image-container:hover .delete-icon {
    display: block; /* Показываем иконку при наведении на контейнер */
}
  
    .product-image {
        border: none;
    }
  
  .input-field {
            position: relative; /* Для позиционирования suggestions-list */
        }
  
  .dropdown {
    display: none; /* Скрываем по умолчанию */
    position: absolute;
    background-color: #fff;
    border-radius: 6px;
    top: 100%; /* Начинаем сразу под полем ввода */
    z-index: 1000;
    width: 100%; /* Ширина равна ширине поля ввода */
    max-height: 150px;
    overflow-y: auto;
}
  
  /* Стили для скроллбара */
.dropdown::-webkit-scrollbar {
    width: 6px; /* Ширина скроллбара */
}

.dropdown::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный фон трека */
    border-radius: 8px; /* Закругленные углы */
}

.dropdown::-webkit-scrollbar-thumb {
    background: #cecfd0; /* Цвет ползунка */
    border-radius: 8px; /* Закругленные углы */
}

.dropdown::-webkit-scrollbar-thumb:hover {
    background: #c7c8c8; /* Цвет ползунка при наведении */
}

.suggestion-dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-top: 5px;
    z-index: 1000;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f2f4f7;
}